
.icon {
  width: 10px;
  align-items: center;
  height: 32px;
  margin: 0 10px;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.2);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}


